<%= provide(:title, "Searched Users") %>
<h1>Searched users</h1>

<ul class="users">
    <% @searched_users.each do |searched_user| %>
        <%= render 'users/searched_user' %> 
    <% end %>
</ul>
<%= will_paginate @searched_users %>